<html>
  <head>
    <title>SDP-Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
      .title {
        padding-bottom: 10px;
        border-bottom: 1px solid #dedede;
      }
      .input {
        display: block;
        width: 320px;
        height: 32px;
        padding: 2px 4px;
        border: 1 solid #dedede;
        outline: 0;
      }
      .submit-button {
        width: 80px;
        height: 32px;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <h2 class="title">The Results of the SDP Analyzer</h2>
    <% if (dep.length === 0) { %>
    <form id="form" action="#">
      <input
        id="input"
        class="input"
        placeholder="Input the npm pacakge name, like react,vue,svelte..."
      />
      <button class="submit-button" type="submit" onclick="search()">
        Analyze
      </button>
    </form>
    <% } else { %> <%- include("table") -%> <% } %>
  </body>
  <script>
    function search() {
      const inputValue = document.getElementById("input").value;
      if (inputValue) {
        window.location.href += inputValue;
      }
    }
    document.getElementById("form").addEventListener("submit", (e) => {
      e.preventDefault();
    });
  </script>
</html>
