<html>
  <head>
    <title>SDP-Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <style>
      .title {
        padding-bottom: 10px;
        border-bottom: 1px solid #dedede;
      }
    </style>
  </head>
  <body>
    <h2 class="title">The Results of the SDP Analyzer</h2>
    <%- include("table") -%>
  </body>
</html>
