<html>

<head>
  <title>SDP-Analyzer</title>
  <%- include("header") -%>
</head>

<body class="font-sans dark:text-white dark:bg-hex-121212" p8>
  <% if (dep.length===0) { %>
    <div flex="~ col gap-2 justify-end items-start">
      <div op75=""> Enter Package Name: </div><input id="input" placeholder="vue,react,svelte"
        border="~ gray/10 rounded" bg-gray:5="" p2="" text-3xl="" w-full="" />
    </div>
  <% } else { %>
    <%- include("table") -%>
  <% } %>
</body>
<script>
  const $input = document.getElementById('input');
  $input.addEventListener('keyup', function (e) {
    if (e.key === 'Enter' || e.keyCode === 13) {
      const inputValue = $input.value;
      if (inputValue) {
        window.location.href += inputValue;
      }
    }
  });
</script>
</html>